@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: oklch(0.9851 0 0);
        --foreground: oklch(0.9219 0 0);
        --muted: oklch(0.7155 0 0);
        --muted-foreground: oklch(0.5555 0 0);
        --accent: oklch(0.3715 0 0);
    }

    .dark {
        --background: oklch(0.2046 0 0);
        --foreground: oklch(0.2686 0 0);
        --muted: oklch(0.3715 0 0);
        --muted-foreground: oklch(0.4386 0 0);
        --accent: oklch(0.7155 0 0);
    }
}